@model GameStore.ItemsInInventory

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Предмет @Model.SourceItem.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceItem.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceItem.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceItem.Price)
        </dt>
        <dd class = "col-sm-10">
            @Model.SourceItem.Price.Value.ToString("c")
        </dd>
    </dl>
</div>
<div>
    <a class = "btn btn-outline-danger" asp-action="Index" asp-route-email="@User.Identity.Name">Назад</a>
</div>
