@model GameStore.GameCopy

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>@Model.Game.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameStudio.StudioName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameStudio.StudioName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.AgePermission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.AgePermission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuyDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-userId="@Model.UserId" asp-route-username="@User.Identity.Name" class="btn btn-danger">Назад до бібліотеки</a>
</div>
